* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
body {
    background: #ffff;
}

/* Navbar */
.navbar {
    width: 100%;
    background: #fff;
    padding: 18px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #111;
}
.logo img {
    width: 32px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #000;
    padding: 8px 14px;
    font-size: 20px;
    font-style: bold;
    position: relative;
}
.nav-links a.active {
    background: #ffe7d6;
    padding: 8px 14px;
    border-radius: 20px;
    color: #e8690f;
    /* color: #FE6A0333 20%; */
    /* font-weight: 500; */
}

/* Contact btn */
.contact-btn {
    background: #FE6A034D 20%;
    display: flex;
    gap: 12px;
    padding: 5px 5px;
    border: none;
    border-radius: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    transition: background 0.3s ease;
}
.cont-btn {
    text-decoration: none;
    color: #000;
}
.contact-btn:hover {
    background: #e8690f;
}
.arrow {
    width: 32px;
    height: 32px;
    background: #FE6A03;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile menu */
.fa-bars {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background: url(img/mobile-bg.png) center/cover no-repeat;
    /* box-shadow: -2px 0 15px rgba(0,0,0,0.2); */
    transition: 0.4s ease;
    padding:  20px;
    z-index: 2000;
    color: #fff;
}

.mobile-menu.open {
    right: 0;
}

.fa-xmark {
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 50px;
    border: solid #fff;
    border-radius: 50%;
    padding: 2px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 50px;
}

.mobile-nav a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.mobile-menu-links {
    list-style: none;
}

.mobile-menu-links li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.mobile-menu-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.mobile-menu-links .icon {
    font-size: 18px;
    width: 25px;
    text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 70px;
        transform: translateY(-120%);
        transition: transform 0.4s ease;
    }
    .nav-links.show {
        transform: translateY(0);
    }
    .contact-btn {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 34px;
        cursor: pointer;
        font-weight: bold;
    }
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 500px;
    /* min-height: 100vh; */
    padding-top: 90px;
    background: url(img/hero-bg.png) center center / cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}
/* Ovwelay */
.hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
}
/* content */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 720px;
    color: #fff;
    margin-top: 130px;
    margin-left: 75px;
    animation: fadeSlide 1s ease forwards;
}
.hero-content h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 22px;
}
.hero-content p {
    font-size: 15px;
    line-height: 1.6;
    max-width: 540px;
    margin-bottom: 34px;
}
/* buttons */
.hero-buttons {
    display: flex;
    gap: 15px;
}
.btn {
    padding: 14px 22px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn.primary {
    background: #fff;
    color: #ff7a18;
}
/* .btn.primary:hover {
    background: #e86a10;
} */
.btn.secondary {
    background: #fff;
    color: #ff7a18;
}
/* .btn.secondary:hover {
    background: rgba(255, 255, 255, 0.15);
} */

/* Animation */
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* mobile */
@media (max-width: 768px) {
    .hero {
        height: 500px;
        background-position: center center;
    }
    .hero-content {
        text-align: center;
        margin: auto;
    }
    .hero-content h1 {
        margin-top: 130px;
        font-size: 30px;
    }
    .hero-content p {
        font-size: 14px;
        margin: 0 auto 25px;
    }
    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }
    .btn {
        width: 100%;
        max-width: 260px;
        text-align: center;
    }
}

/* Services section */
.services {
    margin-bottom: 20px;
    position: relative;
    padding: 100px 20px;
    background: #fff;
    overflow: hidden;
}
.shape {
    position: absolute;
    width: 120px;
    height: auto;
}
.left-shape {
    left: -2px;
    top: 50%;
    transform: translateY(-140%);
}
.right-shape {
    right: -2px;
    top: 50%;
    transform: translateY(-170%);
}
.services-container {
    max-width: 1100px;
    margin: auto;
}
.services h2 {
    font-size: 32px;
    font-weight: 700;
    color: #111;
    text-align: center;
}
.services h2 span {
    display: block;
    margin-top: 5px;
}
.services-text {
    max-width: 600px;
    margin: 15px auto 10px;
    font-size: 14px;
    color: #000;
    line-height: 1.6;
    text-align: center;
}

/* curved underline */
.underline {
    width: 220px;
    height: 31.88px;
    margin: 12px auto 60px;
    margin-left: 450px;
}


.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.service-card h3 {
    font-size: 30px;
    margin: 18px 0 10px;
    color: #111;
}
.service-card p {
    font-size: 14px;
    color: #000;
    line-height: 1.6;
}
.fa-solid.fa-house,
.fa-chart-line,
.fa-shield {
    width: 50px;
    height: 50px;
    background: #ff7a18;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    font-size: 20px;
}
.icon-1 {
    margin-left: -290px;
}

.cont {
    display: flex;
    justify-content: center;
}

/* mobile */
@media (max-width: 768px) {
    .services {
        padding: 80px 15px;
    }

    .services h2 {
        font-size: 26px;
    }

    .service-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .service-card {
        text-align: center;
    }
    .icon-1 {
        margin-right: -300px;
    }
    
    .shape {
        width: 80px;
    }

    .left-shape {
        left: -10px;
        transform: translateY(-310%);
    }

    .right-shape {
        right: -10px;
        transform: translateY(-380%);
    }

    .underline {
        margin-left: 120px;
    }
}

/* Specialized solutions */
.specialized {
    margin-bottom: -80px;
    padding: 80px 20px;
    background: #f5eee7;
    /* background: #fff; */
    text-align: center;
}
.specialized-container {
    max-width: 1000px;
    margin: auto;
}
.specialized h2 {
    font-size: 28px;
    font-weight: 700;
    color: #111;
    margin-bottom: 35px;
}
.specialized-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.special-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #000;
}
.check-icon {
    width: 26px;
    height: 26px;
    background: #ff7a18;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    flex-shrink: 0;
}
.sub-text {
    margin-top: 20px;
    align-items: center;
    font-size: 13px;
}
.underline2 {
    width: 220px;
    height: 31.88px;
    margin: 12px auto 60px;
    margin-left: -20px;
}

@media (max-width: 768px) {
    .specialized {
        padding: 60px 15px;
    }

    .specialized h2 {
        font-size: 24px;
    }

    .specialized-items {
        flex-direction: column;
        gap: 18px;
    }

    .special-item {
        justify-content: center;
        text-align: center;
    }

    .underline2 {
        margin-left: -20px;
    }
}

/* Why choose us */
.why-choose {
    padding: 100px 20px;
    background: #fff;
}
.why-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.why-text {
    margin-left: 180px;
}
.why-text h2 {
    font-size: 30px;
    font-weight: 700;
    color: #111;
}
.underline-1 {
    width: 220px;
    height: 31.88px;
}
.why-list {
    list-style: none;
    padding: 0;
}
.why-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #000;
    margin-bottom: 18px;
}
.check {
    width: 26px;
    height: 26px;
    background: #ff7a18;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    flex-shrink: 0;
}
.why-image img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .why-choose {
        padding-left: 30px;
        padding-right: 30px;
    }
    .why-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .why-text {
        margin-left: -20px;
    }
    .why-text h2 {
        font-size: 30px;
        text-align: center;
    }
    .why-list li {
        margin-left: 100px;
        /* justify-content: center;
        text-align: center; */
    }
    .why-image img {
        max-width: 300px;
        height: 200px;
        margin-left: 10px;
    }
    .underline-1 {
        margin-left: 100px;
        height: 30px;
    }
}

/* CEO SECTION */
.ceo-section {
    position: relative;
    background: url(img/wavy-bg.png) center/cover no-repeat;
    padding: 120px 20px;
    overflow: hidden;
}
/* .wave-top {
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 0;
    z-index: 3;
}
.wave-top svg {
    width: 100%;
    height: 120px;
    display: block;
} */
.ceo-container {
    position: relative;
    z-index: 2;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 60px;
    align-items: center;
    color: #fff;
}
.ceo-image img {
    width: 100%;
    max-width: 380px;
}
.ceo-text {
    position: relative;
}
.quote-mark {
    font-size: 70px;
    font-weight: 700;
    display: block;
    margin-bottom: -20px;
}
.ceo-text p {
    font-size: 30px;
    /* font-weight: 400; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
    margin-bottom: 25px;
}
.ceo-text h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* font-weight: 700; */
}
.ceo-text .title {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.9;
}
/* Animations */
.fade-left {
    opacity: 0;
    transform: translateX(-40px);
    animation: fadeLeft 1s ease forwards;
}
.fade-right {
    opacity: 0;
    transform: translateX(40px);
    animation: fadeRight 1s ease forwards;
    animation-delay: 0.3s;
}
@keyframes fadeLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width: 768px) {
    .ceo-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .ceo-image img {
        margin: auto;
    }

    .ceo-text p {
        font-size: 20px;
    }

    .quote-mark {
        font-size: 60px;
    }
}

/* Our Partners */
.partners-section {
    padding: 70px 20px;
    background: #fff;
    text-align: center;
}
.partners-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #000;
}
.partners-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.partners-logos img {
    max-width: 180px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .partners-logos {
        gap: 30px;
    }

    .partners-logos img {
        max-width: 150px;
    }
}

/* cta */
.cta-section {
    padding: 80px 20px;
    background: #fff;
}
.cta-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;
    background: url(img/ctn-bg.png);
    border-radius: 50px;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.cta-container h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    max-width: 900px;
    margin: 0 auto 30px;
}
.cta-btn {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 14px 28px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}
.cta-btn:hover {
    background: #ffe6cf;
}
.cta-container {
    animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .cta-container {
        padding: 40px 20px;
        border-radius: 50px;
    }


    .cta-container h2 {
        font-size: 22px;
    }
}

/* footer */
.footer {
    background: #0b0b0b;
    color: #fff;
    padding: 70px 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-logo img {
    width: 50px;
    margin-top: -30px;

}

.footer-socials {
    display: flex;
    gap: 15px;
}
.footer-socials a {
    font-size: 18px;
    transition: 0.3s;
}
.footer-socials img {
    width: 25px;
}

.footer-office i {
    margin-right: 8px;
    color: #ff7a00;
}

.footer h4,
.footer h5 {
    margin-bottom: 15px;
    font-weight: 600;
}

.footer p {
    font-size: 14px;
    line-height: 1.7;
    color: #cfcfcf;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ff7a00;
}

.footer-bottom {
    border-top: 1px solid #222;
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}

.footer p,
.footer-links a {
    font-size: 15px;
}