* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
body {
    background: #ffff;
}

/* Navbar */
.navbar {
    width: 100%;
    background: #fff;
    padding: 18px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #111;
}
.logo img {
    width: 32px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #000;
    padding: 8px 14px;
    font-size: 20px;
    font-style: bold;
    position: relative;
}
.nav-links a.active {
    background: #ffe7d6;
    padding: 8px 14px;
    border-radius: 20px;
    color: #e8690f;
    /* color: #FE6A0333 20%; */
    /* font-weight: 500; */
}

/* Contact btn */
.contact-btn {
    background: #FE6A034D 20%;
    display: flex;
    gap: 12px;
    padding: 5px 5px;
    border: none;
    border-radius: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    transition: background 0.3s ease;
}
.cont-btn {
    text-decoration: none;
    color: #000;
}
.contact-btn:hover {
    background: #e8690f;
}
.arrow {
    width: 32px;
    height: 32px;
    background: #FE6A03;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile menu */
.fa-bars {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background: url(img/mobile-bg.png) center/cover no-repeat;
    /* box-shadow: -2px 0 15px rgba(0,0,0,0.2); */
    transition: 0.4s ease;
    padding:  20px;
    z-index: 2000;
    color: #fff;
}

.mobile-menu.open {
    right: 0;
}

.fa-xmark {
    font-size: 16px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 50px;
    border: solid #fff;
    border-radius: 50%;
    padding: 2px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 50px;
}

.mobile-nav a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.mobile-menu-links {
    list-style: none;
}

.mobile-menu-links li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.mobile-menu-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.mobile-menu-links .icon {
    font-size: 18px;
    width: 25px;
    text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 70px;
        transform: translateY(-120%);
        transition: transform 0.4s ease;
    }
    .nav-links.show {
        transform: translateY(0);
    }
    .contact-btn {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 34px;
        cursor: pointer;
        font-weight: bold;
    }
}

/* hero */
.products-hero {
    position: relative;
    height: 55vh;
    min-height: 320px;
    width: 100%;
    background-image: url(img/product-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.products-hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}
.hero-title {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    transform: translateY(40px);
}

.products-hero-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
    animation: floatText 10s ease-in-out infinite;
}

@keyframes floatText {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

@media (max-width: 768px) {
    .products-hero {
        height: 45vh;
        background-position: center top;
    }
}

/* Products */
.products-section {
    padding: 80px 20px;
    background: #fff;
    gap: 20px;
    /* align-items: center; */
}
.products-grid {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.products-grids {
    width: 1200px;
    align-items: center;
    margin: auto;
    margin-left: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.product-card {
   background: #fff;
   border-radius: 16px;
   overflow: hidden;
   transition: transform 0.35s ease, box-shadow 0.35s ease; 
}
.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}
.product-cards {
   background: #fff;
   border-radius: 16px;
   margin-top: 30px;
   overflow: hidden;
   transition: transform 0.35s ease, box-shadow 0.35s ease; 
}
.product-cards:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}
.product-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.product-card:hover .product-image img {
    transform: scale(1.05);
}
.product-thumbs {
    display: flex;
    gap: 8px;
    padding: 10px;
}
.product-thumbs img {
    width: 112px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}
.product-info {
    background: #ff7a00;
    padding: 18px;
    color: #fff;
}
.product-info p {
    font-size: 13px;
    line-height: 1.5;
}
.badge {
    display: block;
    background: #fff;
    color: #ff7a00;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 10px;
    margin-left: 280px;
    margin-bottom: 8px;
}

/* @media (max-width: 900px) {
    .products-grids {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media (max-width: 600px) {
    .products-grids {
        grid-template-columns: 1fr;
        width: 375px;
        margin-left: 30px;
    }
    .products-grid {
        grid-template-columns: 1fr;
        width: 375px;
    }

    .product-img {
        height: 200px;
    }
}
/* cta */
.cta-section {
    padding: 80px 20px;
    background: #fff;
}
.cta-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;
    background: url(img/ctn-bg.png);
    border-radius: 50px;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.cta-container h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    max-width: 900px;
    margin: 0 auto 30px;
}
.cta-btn {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 14px 28px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}
.cta-btn:hover {
    background: #ffe6cf;
}
.cta-container {
    animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .cta-container {
        padding: 40px 20px;
        border-radius: 50px;
    }


    .cta-container h2 {
        font-size: 22px;
    }
}

/* footer */
.footer {
    background: #0b0b0b;
    color: #fff;
    padding: 70px 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-logo img {
    width: 50px;
    margin-top: -30px;

}

.footer-socials {
    display: flex;
    gap: 15px;
}
.footer-socials a {
    font-size: 18px;
    transition: 0.3s;
}
.footer-socials img {
    width: 25px;
}

.footer-office i {
    margin-right: 8px;
    color: #ff7a00;
}

.footer h4,
.footer h5 {
    margin-bottom: 15px;
    font-weight: 600;
}

.footer p {
    font-size: 14px;
    line-height: 1.7;
    color: #cfcfcf;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ff7a00;
}

.footer-bottom {
    border-top: 1px solid #222;
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.footer p,
.footer-links a {
    font-size: 15px;
}